/* ---------ОБЩИЕ НАСТРОЙКИ--------- */

body{
    background-image:url(https://avatars.mds.yandex.net/get-zen_doc/1210285/pub_5db7d94d8600e100ae494bc0_5db7d9b39515ee00b34addfe/scale_1200);
    font-family: "Comic Sans MS", "Comic Sans";
    background-color: white;
    display: flex;
    flex-direction: column;
}

footer, .aa, header{
    border-radius: 10px;
}

h1{
    text-align: center;
}

h2{
    margin-top: 0px;
    text-align: center;
}

.all{
    margin-left: 40px;
    margin-right: 40px;
    max-width: 1560px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: black;
}

p {
    margin-bottom: 0;
}

ul {
    margin-left: 30px;
}

/* ----------HEADER---------- */

header{
    width: 100%;
    max-width: 1560px;
    min-width: 500px;
    height: 85px;
    min-height: 90px;
    background-color:#ffe5b4;
    padding: 10px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin:10px;
    border-radius: 50%;
    float: left;
    display: flex;
}

.name{
    width:50%;
}

.imeg{
    width: 25%;
    display: flex;
    justify-content: flex-start;
}

/* -----------MAIN------------ */

.div{
    min-width: 700px;
    display: flex;
    justify-content: center;
}

.aa{
    margin:5px;
    padding: 10px;
    padding-right: 20px;
}

/* ЛЕВАЯ ЧАСТЬ */

.left{
    display: flex;
    flex-direction: column;
    background-color:#ffe5b4;
    flex-basis: 25%;
    margin-left: 0px;
}

/* ЦЕНТРАЛЬНАЯ ЧАСТЬ */

.center{          
    background-color:#ffe5b4;
    flex-basis: 55%;
    margin-left: 0px;
    overflow: scroll;
    height: 100vh;
}

.text{
    margin-top: 0px;
    margin-left: 20px;
}

.container{
    width: 100%;
    min-height: 600px;
    max-height: 2000px;      
    min-width: 700px;
    padding: 0;
    display: flex;
    flex-direction: row;
    max-width: 1560px;
    justify-content: space-between;
}

.block{
    padding-top: 20px;
    padding-bottom: 20px;
}

.block:not(:last-of-type){
    border-bottom: rgb(99, 99, 99) 3px solid;
}

img{
    border: 2px solid rgb(70, 70, 70);
    width: 50%;
    height: 50%;
    text-align: center;
    margin-right: 10px;
    margin-left: 30px;
    float:left;
    border-radius: 10px;
}

.about{
    color:#d6943c;
}

.title{
    margin-left:15px;
}

/* ПРАВАЯ ЧАСТЬ */

.right{
    background-color:#ffe5b4;
    flex-basis: 20%;
    margin-right: 0px;
    margin-left: 0px;
}

/* FOOTER */

footer{
    width: 100%;
    max-width: 1560px;
    min-width: 500px;
    height:50px;
    min-height: 50px;
    background-color:#ffe5b4;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

/* КНОПКА: "ДОБАВИТЬ РЕЦЕПТ" */

button{
    height: 60px;
    padding: 5px;
    width: 80px;
    background-color: #DEB887;
    border:1px solid black;
    border-radius: 5px;
    margin-right: 25px;
}

.form{
    display: none;
    padding-right: 10px;
}

input {
    width: 100%;
}

.a3{
    width:25%;
    display: flex;
    justify-content: flex-end;
}